@import '/elements/screen-warning/screen-warning.css';
screen-activation  x-address{
	margin: 16px 0 48px;
    background: rgba(255,255,255,0.1);
}

screen-activation h3{
    margin: 32px 0 0;
    font-weight: normal;
}

screen-activation button{
	margin-top: 16px;
}

.red {
    color: var(--error-color);
}

screen-activation-address big {
    font-size: 2em;
    position: relative;
    top: 4px;
}

screen-activation x-address, screen-activation .x-address {
    padding: 0;
    font-weight: inherit;
}
