@import '../screen-welcome/screen-welcome.css';
@import '../screen-activation/screen-activation.css';
@import '/elements/screen-backup-phrase/screen-backup-phrase.css';
@import '/elements/screen-backup-phrase-validate/screen-backup-phrase-validate.css';
@import '/elements/screen-backup-file/screen-backup-file.css';
@import '/elements/screen-identicons/screen-identicons.css';
@import '/elements/browser-warning/browser-warning.css';

/* Disable "continue without password" option for backup file */
screen-create-password > a[secondary]{
	display: none;
}

@media (max-height: 740px) {
    body {
        padding-top: 20px;
    }
}

#genesis-warning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background: var(--warning-color);
    color: #3b3b3b;
    margin-top: 0;
}

#genesis-warning a {
    color: #3b3b3b;
    text-decoration: underline;
}

body {
    padding-top: 48px;
}

@media (max-width: 1060px) {
    body {
        padding-top: 66px;
    }
}

@media (max-width: 560px) {
    body {
        padding-top: 84px;
    }
}

@media (max-width: 310px) {
    body {
        padding-top: 102px;
    }
}
