screen-terms p {
    text-align: left;
    padding-bottom: 8px;
}

screen-terms section {
	overflow-y: scroll;
}
 
screen-terms [button]{
	margin: 32px 10px;
}

screen-terms .same-size-buttons {
    display: flex;
}