@media (min-width: 420px) {
    screen-terms.x-screen {
        max-width: 1072px;
        max-height: none !important;
    }
    screen-terms section {
        padding: 12px 24px 0;
    }
}

screen-terms ol {
    list-style-type: upper-alpha;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 8px;
}

screen-terms p {
    text-align: justify;
    padding-bottom: 8px;
}

screen-terms li {
    text-align: justify;
    line-height: 19px;
    margin-bottom: 24px;
    padding-left: 16px;
}

screen-terms h3 {
    margin-top: 24px;
}

screen-terms section {
	overflow-y: auto;
}

screen-terms [button]{
	margin: 32px 10px;
    max-width: none;
}

screen-terms .same-size-buttons {
    display: flex;
}