@import '../screen-welcome/screen-welcome.css';
@import '../screen-forward/screen-forward.css';
@import '/elements/screen-backup-phrase/screen-backup-phrase.css';
@import '/elements/screen-backup-phrase-validate/screen-backup-phrase-validate.css';
@import '/elements/screen-backup-file/screen-backup-file.css';
@import '/elements/screen-identicons/screen-identicons.css';
@import '/elements/browser-warning/browser-warning.css';

/* Disable "continue without password" option for backup file */
screen-create-password > a[secondary]{
	display: none;
}

.red {
    color: var(--error-color);
}

@media (max-height: 740px) {
    body {
        padding-top: 20px;
    }
}