@import '/elements/screen-loading/screen-loading.css';
@import './screen-forward/screen-forward.css';

input, x-country-select {
    width: 50%;
}

x-country-select select {
    width: 100%;
}

label {
    width: 50%;
    text-align: left;
}

form > div, fieldset > div {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
    align-items: center;
}

form {
    width: 100%;
}

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input{
    background: none;
    padding: 8px 4px 4px;
    color: white;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

input:focus{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

input::placeholder,
input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    font-size: 14px;
}

button{
    margin-top: 40px;
}

select {
    padding: 0 15px;
    color: white;
    background-color: #937efe;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

legend {
    font-size: 14px;
    font-weight: bold;
}

fieldset {
    border: none;
    margin-top: 20px;
    padding: 15px;
}

form,
div[scroll-container] {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

x-dateofbirth-select {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

x-dateofbirth-select select {
    flex: 1;
}

screen-confirm h2 {
    font-size:16px;
    font-weight: bold;
    margin-top:10px;
    padding: 0;
}

.no-show {
    display: none;
}

@media (max-width: 650px) {
    form input, form x-country-select, form label, x-dateofbirth-select {
        width: 100%;
    }
}