form input, form x-country-select {
    width: 50%;
}

form x-country-select select {
    width: 100%;
}

form label {
    width: 50%;
    text-align: left;
}

form > div {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}

form {
    width: 100%;
}

@media (max-width: 650px) {
    form input, form x-country-select, form label {
        width: 100%;
    }
}

form input{
    background: none;
    color: white;
    padding: 8px 4px 4px; 
    color:white;
    border: none; 
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

form input:focus{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

input::placeholder,
input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    font-size: 14px;
}

form button{
    margin-top: 40px;
}

form select{
    float: right;
    padding: 8px;
}