input, x-country-select {
    width: 50%;
}

x-country-select select {
    width: 100%;
}

label {
    width: 50%;
    text-align: left;
}

form > div, fieldset > div {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
    align-items: center;
}

form {
    width: 100%;
}

@media (max-width: 650px) {
    form input, form x-country-select, form label {
        width: 100%;
    }
}

input{
    background: none;
    color: white;
    padding: 8px 4px 4px; 
    color:white;
    border: none; 
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

input:focus{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

input::placeholder,
input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    font-size: 14px;
}

button{
    margin-top: 40px;
}

select{
    float: right;
    padding: 8px;
    color: white;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

fieldset {
    border: 1px solid #fff;
    margin: 15px;
    padding: 15px;
}

form {
    overflow-y: scroll;
}