form input, form x-country-select {
    width: 50%;
}

form x-country-select select {
    width: 100%;
}

form label {
    width: 50%;
    text-align: left;
}

form > div {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}

form {
    width: 100%;
}

@media (max-width: 650px) {
    form input, form x-country-select, form label {
        width: 100%;
    }
}