@import '/elements/screen-warning/screen-warning.css';
screen-activation  x-address{
	margin: 16px 0 48px;
    background: rgba(255,255,255,0.1);
}

screen-activation h3{
    margin: 32px 0 0;
    font-weight: normal;
}

screen-activation button{
	margin-top: 16px;
}

screen-activation strong.red {
    color: var(--error-color);
}
