@import '/elements/x-amount/x-amount.css';

screen-account x-identicon img {
    width: 200px;
}

screen-account x-grow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

screen-account x-grow > * {
	flex: 1;
}

screen-account .identicon-address-container {
	display: flex;
	flex-flow: column;
}

@media (min-width: 480px){
	screen-account button{
		margin-top: 72px;
	}
}
